.projects {
  padding: 12rem 0;

  &-context {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    &__title {
      font-family: "Raleway";
      font-size: 4rem;
      font-weight: 700;
      text-align: center;
      margin-bottom: 5rem;
    }

    &__subtitle {
      font-family: "Roboto";
      font-size: 1.6rem;
      font-weight: 500;
      text-align: center;
      opacity: 0.7;
      margin-bottom: 4rem;
    }

    &__list,
    .list {
      display: flex;
      flex-wrap: wrap;
      // justify-content: space-between;

      @include tablets {
        justify-content: center;
      }

      @include phones {
        flex-wrap: nowrap;
        flex-direction: column;
      }

      &-item {
        width: 28.3rem;
        height: 27.8rem;

        @include tablets {
          width: 35rem;
        }

        @include phones {
          width: 43.8rem;
        }

        &:first-child {
          background-color: #10c6fc;
          margin-bottom: 1.3rem;
          margin-right: 1.3rem;

          @include tablets {
            margin-right: 1.3rem;
          }

          @include phones {
            margin-right: 0;
          }
        }

        &:nth-child(2) {
          background-color: #835aeb;
          margin-right: 1.3rem;

          @include tablets {
            margin-right: 0;
          }

          @include phones {
            margin-bottom: 1.3rem;
          }
        }

        &:nth-child(3) {
          background-color: #002453;
          margin-right: 1.3rem;

          @include tablets {
            margin-bottom: 1.3rem;
          }

          @include phones {
            margin-right: 0;
          }
        }

        &:nth-child(4) {
          background-color: #ff2b4a;

          @include phones {
            margin-bottom: 1.3rem;
          }
        }

        &:nth-child(5) {
          background-color: #835aeb;
          width: 57.8rem;
          margin-right: 1.3rem;

          @include tablets {
            width: 100%;
            margin-bottom: 1.3rem;
            margin-right: 0;
          }

          @include phones {
            margin-right: 0;
            margin-bottom: 1.3rem;
          }
        }

        &:nth-child(6) {
          background-color: #002453;
          margin-right: 1.3rem;

          @include phones {
            margin-right: 0;
            margin-bottom: 1.3rem;
          }
        }

        &:last-child {
          background-color: #ff2b4a;
        }
      }
    }
  }
}
